force-app/main/default/flows/StripeCharge_toDonation_toRecurringDonation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CastCharge</name>
        <label>CastCharge</label>
        <locationX>567</locationX>
        <locationY>276</locationY>
        <actionName>stripeGC__v01_CastCharge</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assignment_4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CastCharge</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>GetCustomer</name>
        <label>GetCustomer</label>
        <locationX>567</locationX>
        <locationY>600</locationY>
        <actionName>stripeGC__v01_GetCustomers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Type_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>$Record.stripeGC__Stripe_Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>GetPI.customer</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_GetCustomers</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>GetInvoice</name>
        <label>GetInvoice</label>
        <locationX>380</locationX>
        <locationY>816</locationY>
        <actionName>stripeGC__v01_GetInvoices</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SubscriptionOnInvoice</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>$Record.stripeGC__Stripe_Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoice</name>
            <value>
                <elementReference>CastCharge.invoice</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_GetInvoices</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>GetPI</name>
        <label>GetPI</label>
        <locationX>567</locationX>
        <locationY>492</locationY>
        <actionName>stripeGC__v01_GetPaymentIntents</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetCustomer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>$Record.stripeGC__Stripe_Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>intent</name>
            <value>
                <elementReference>CastCharge.paymentIntent</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_GetPaymentIntents</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_4</name>
        <label>Assignment 4</label>
        <locationX>567</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>testval.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CastCharge.billingDetails.name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testval.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CastCharge.billingDetails.email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testval.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CastCharge.billingDetails.phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testval.MailingAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CastCharge.billingDetails.address.line1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testval.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CastCharge.transferData.amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_RecDon</name>
        <label>Build RecDon Basic</label>
        <locationX>314</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>RecurringDonation.npe03__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Contact_Recurring.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecurringDonation.npe03__Schedule_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Multiply By</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecurringDonation.npe03__Open_Ended_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecurringDonation.npe03__Installment_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecurringDonation.Stripe_Sub_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInvoice.subscription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecurringDonation.npe03__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrencyPaid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecurringDonation.npe03__Date_Established__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CorrectedDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecurringDonation.npsp__CardLast4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CastCharge.paymentMethodDetails.card.last4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecurringDonation.npsp__CardExpirationMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CastCharge.paymentMethodDetails.card.expMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecurringDonation.npsp__CardExpirationYear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnformattedCardYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecurringDonation.npsp__PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuildRecDonCustoms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BuildRecDonCustoms</name>
        <label>Build RecDon Customs</label>
        <locationX>314</locationX>
        <locationY>1464</locationY>
        <assignmentItems>
            <assignToReference>RecurringDonation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecDonNameGen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Recurring_Donation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RecDon_for_Don_Update</name>
        <label>Set RecDon for Don Update</label>
        <locationX>50</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>RecurringDonation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recurring_Donation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Donation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_RecDon_Exist</name>
        <label>Does RecDon Exist</label>
        <locationX>182</locationX>
        <locationY>1140</locationY>
        <defaultConnector>
            <targetReference>Find_Contact_Recurring</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create new RecDon</defaultConnectorLabel>
        <rules>
            <name>RecDon_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Recurring_Donation.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RecDon_for_Don_Update</targetReference>
            </connector>
            <label>RecDon Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>SubscriptionOnInvoice</name>
        <label>SubscriptionOnInvoice</label>
        <locationX>380</locationX>
        <locationY>924</locationY>
        <defaultConnector>
            <targetReference>FindContactOneOff</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNotSub</defaultConnectorLabel>
        <rules>
            <name>IsSub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInvoice.subscription</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Recurring_Donation</targetReference>
            </connector>
            <label>IsSub</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Check</name>
        <label>Type Check</label>
        <locationX>567</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>FindContactOneOff</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single Payment</defaultConnectorLabel>
        <rules>
            <name>Relates_to_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CastCharge.invoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetInvoice</targetReference>
            </connector>
            <label>Relates to Subscription</label>
        </rules>
    </decisions>
    <description>Uses Stripe Charge Succeeded Event. Calls Stripe to get Payment Intent, Customer, Invoice and Subscription ID.
If (OneOff): Get PI &amp; Customer, separate FName &amp; LName, Find/Create Contact with Customer Data, Generate Donation.
If (Sub): Get PI &amp; Customer, Get Invoice, use SubID to find existing Recurring Donation. If match found, use to match Contact. If not match found, Find/Create Contact, then Generate Recurring Donation. Update final Donation as generated by NPSP off RecDon.</description>
    <environments>Default</environments>
    <formulas>
        <name>CorrectedDateTime</name>
        <dataType>DateTime</dataType>
        <expression>FROMUNIXTIME({!CastCharge.created})</expression>
    </formulas>
    <formulas>
        <name>CurrencyPaid</name>
        <dataType>Currency</dataType>
        <expression>{!CastCharge.amount}/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FName</name>
        <dataType>String</dataType>
        <expression>LEFT({!GetCustomer.name}, FIND( &quot; &quot;, {!GetCustomer.name} ) -1 )</expression>
    </formulas>
    <formulas>
        <name>LName</name>
        <dataType>String</dataType>
        <expression>RIGHT({!GetCustomer.name}, LEN({!GetCustomer.name}) - FIND(&quot; &quot;, {!GetCustomer.name}))</expression>
    </formulas>
    <formulas>
        <name>OOFFDonNameGen</name>
        <dataType>String</dataType>
        <expression>Trim(Left(
&quot;OOFF&quot;&amp;
{!GetCustomer.name}
&amp;&quot;-&quot;&amp; text(datevalue(now())) &amp;&quot;-&quot;&amp;
Text({!CurrencyPaid})
,80))</expression>
    </formulas>
    <formulas>
        <name>PaymentCloseDateEarly</name>
        <dataType>Date</dataType>
        <expression>DateValue({!CorrectedDateTime})-4</expression>
    </formulas>
    <formulas>
        <name>PaymentCloseDateLate</name>
        <dataType>Date</dataType>
        <expression>DateValue({!CorrectedDateTime})+4</expression>
    </formulas>
    <formulas>
        <name>RecDonNameGen</name>
        <dataType>String</dataType>
        <expression>Trim(Left(
&quot;SUB&quot;
&amp;&quot;-&quot;&amp; text(datevalue(now())) &amp;&quot;-&quot;&amp;
{!GetCustomer.name}
&amp;&quot;-€&quot;&amp;Text({!CurrencyPaid})
,80))</expression>
    </formulas>
    <formulas>
        <name>UnformattedCardYear</name>
        <dataType>String</dataType>
        <expression>Text({!CastCharge.paymentMethodDetails.card.expYear})</expression>
    </formulas>
    <interviewLabel>StripeCharge_toDonation_toRecurringDonation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>StripeCharge_toDonation_toRecurringDonation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Recurring_Donation</name>
        <label>Create Recurring Donation</label>
        <locationX>314</locationX>
        <locationY>1572</locationY>
        <connector>
            <targetReference>Update_Current_Donation</targetReference>
        </connector>
        <inputReference>RecurringDonation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Single_Donation</name>
        <label>Create Single Donation</label>
        <locationX>567</locationX>
        <locationY>2256</locationY>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>CurrencyPaid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CorrectedDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CastCharge.description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>GetPI.source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OOFFDonNameGen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_ID__c</field>
            <value>
                <elementReference>CastCharge.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Primary_Contact__c</field>
            <value>
                <elementReference>FindContactOneOff.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Recurring_Donation</name>
        <label>Get Recurring Donation</label>
        <locationX>182</locationX>
        <locationY>1032</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_RecDon_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_Sub_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInvoice.subscription</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe03__Recurring_Donation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Donation</name>
        <label>Update Current Donation</label>
        <locationX>182</locationX>
        <locationY>1764</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CloseDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>PaymentCloseDateLate</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe03__Recurring_Donation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecurringDonation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>PaymentCloseDateEarly</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrencyPaid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CastCharge.description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>GetPI.source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_ID__c</field>
            <value>
                <elementReference>CastCharge.id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>charge.succeeded</stringValue>
            </value>
        </filters>
        <object>stripeGC__Stripe_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>CastCharge</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Find_Contact_Recurring</name>
        <label>Find Contact Recurring</label>
        <locationX>314</locationX>
        <locationY>1248</locationY>
        <connector>
            <targetReference>Build_RecDon</targetReference>
        </connector>
        <flowName>Find_or_Create_Contact</flowName>
        <inputAssignments>
            <name>Email</name>
            <value>
                <elementReference>GetCustomer.email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>First_Name</name>
            <value>
                <elementReference>FName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Last_Name</name>
            <value>
                <elementReference>LName</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>FindContactOneOff</name>
        <label>FindContactOneOff</label>
        <locationX>567</locationX>
        <locationY>2148</locationY>
        <connector>
            <targetReference>Create_Single_Donation</targetReference>
        </connector>
        <flowName>Find_or_Create_Contact</flowName>
        <inputAssignments>
            <name>Email</name>
            <value>
                <elementReference>GetCustomer.email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>First_Name</name>
            <value>
                <elementReference>FName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Last_Name</name>
            <value>
                <elementReference>LName</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>RecurringDonation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe03__Recurring_Donation__c</objectType>
    </variables>
    <variables>
        <name>testval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
